[Desktop Entry]
Name=matugen-minimal
Comment=Matugen Minimal SDDM Theme with Liquid Wave
X-KDE-PluginInfo-Name=matugen-minimal
X-KDE-PluginInfo-Version=1.3.5
X-KDE-PluginInfo-Category=Login Themes
